In [204]:
import functools
import json
import os
import pprint
import re

import numpy as np
import pandas as pd
import requests

In [2]:
KEY = 'AIzaSyAZkBp1lWX1AZdNN4bpovnRoFniJ53GRfE'

In [3]:
URL = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial'

In [4]:
orig = '25.958056,-80.238889'
dest = '42.090833,-71.264167'

In [5]:
r = requests.get(f'{URL}&origins={orig}&destinations={dest}&key={KEY}')

In [73]:
r.status_code

200

In [10]:
pprint.pprint(r.json())

{'destination_addresses': ['2 Patriot Pl, Foxborough, MA 02035, USA'],
 'origin_addresses': ['347 Don Shula Dr, Miami Gardens, FL 33056, USA'],
 'rows': [{'elements': [{'distance': {'text': '1,467 mi', 'value': 2360755},
                         'duration': {'text': '21 hours 28 mins',
                                      'value': 77287},
                         'status': 'OK'}]}],
 'status': 'OK'}

In [102]:
with open('./nfl_stadium_coords.json') as f:
    json_file = json.load(f)

In [103]:
json_file[0]

{'lat': '25.958056',
 'long': '-80.238889',
 'stadium': 'sun life stadium',
 'team': 'dolphins'}

In [104]:
df = pd.DataFrame(json_file)

In [105]:
df.head()

          lat         long               stadium      team
0   25.958056   -80.238889      sun life stadium  dolphins
1   42.090833   -71.264167       gilette stadium  patriots
2      42.774      -78.787  ralph wilson stadium     bills
3  40.8139642  -74.0745057       metlife stadium      jets
4   40.446667   -80.015833           heinz field  steelers

In [106]:
def get_lat_long(df, team):
    return df[df.team == team][['lat', 'long']].values[0]

get_lat_long_p = functools.partial(get_lat_long, df)

In [85]:
def parse_response(resp):
    result = resp['rows'][0]['elements'][0]['distance']['text']
    return int(re.sub(r'\D', '', result))

In [82]:
def get_miles_between(t1, t2):
    t1_lat, t1_long = get_lat_long_p(t1)
    t2_lat, t2_long = get_lat_long_p(t2)
    
    r = requests.get(f'{URL}&origins={t1_lat},{t1_long}&destinations={t2_lat},{t2_long}&key={KEY}')

    if r.status_code == requests.status_codes.codes.ok:
        return parse_response(r.json())
    
    print('status was not ok')

In [180]:
def mkdistdata(nfl_schedule):
    for i, game in enumerate(nfl_schedule):
        distance = get_miles_between(game['home_team'], game['away_team'])
        nfl_schedule[i]['distance'] = distance
    return nfl_schedule

In [181]:
if os.path.exists('./schedule_with_distances.json'):
    with open('schedule_with_distances.json') as f:
        df2 = pd.DataFrame(json.load(f))
else:
    print('uncomment these lines')
#     with open('nfl_schedule_2017.json') as f:
#         df2 = pd.DataFrame(mkdistdata(json.load(f)))

yes

In [182]:
try:
    df2.drop('away_score', axis=1, inplace=True)
    df2.drop('home_score', axis=1, inplace=True)
except ValueError:
    pass

In [183]:
if 'twice_distance' not in df2.columns:
    print('twas not')
    df2['twice_distance'] = df2.distance * 2

In [184]:
df2.head()

    away_team  distance home_team  twice_distance week  year
0      chiefs    1422.0  patriots          2844.0    1  2017
1        jets     363.0     bills           726.0    1  2017
10      colts    2072.0      rams          4144.0    1  2017
100    ravens    1113.0   vikings          2226.0    7  2017
101   bengals     290.0  steelers           580.0    7  2017

In [187]:
sums = df2.groupby('away_team').twice_distance.sum().sort_values()

In [212]:
x = np.arange(len(sums))
mask = np.where((x < 3) | (x > len(sums) - 3 - 1), True, False)

In [213]:
sums.iloc[mask]

away_team
steelers     7928.0
bengals      9046.0
bears        9514.0
chargers    31058.0
seahawks    31264.0
raiders     34538.0
Name: twice_distance, dtype: float64

In [216]:
sums.select(lambda i: i.startswith('r'))

away_team
ravens      14852.0
redskins    24012.0
rams        24876.0
raiders     34538.0
Name: twice_distance, dtype: float64

In [196]:
ratio = sums[sums.idxmax()] / sums[sums.idxmin()]
print(f'{sums.idxmax().capitalize()} travel {ratio:.2f} times more miles than the {sums.idxmin().capitalize()}.')

Raiders travel 4.36 times more miles than the Steelers.

In [166]:
df2.to_json('schedule_with_distances.json')